.settingsTabsContainer {
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
  margin-bottom: 1.5rem;
}

.tabButton {
  border: none;
  background-color: transparent;
  color: var(--text-color);
  padding: 0.5rem 0;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-bottom: 2px solid transparent;
  flex-shrink: 0; /* Prevent tabs from shrinking */
}

.tabButton.active {
  color: var(--primary-color);
  border-bottom-color: var(--primary-color);
  background-color: transparent;
}

.tabButton:not(.active):hover {
  border-bottom-color: var(--primary-color);
  background-color: transparent;
}

.tabsContainer {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid var(--card-border-color);
  margin-bottom: 1.5rem;
  gap: 1rem;
  flex-wrap: wrap; /* Allow tabs to wrap to the next line */
}

.form-select-theme {
  background-color: var(--input-bg-color);
  color: var(--text-color);
  border-color: var(--border-color);
}

.form-select-theme:focus {
  background-color: var(--input-bg-color);
  color: var(--text-color);
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0.25rem rgba(var(--primary-rgb), 0.25);
}