.chatContainer {
  display: flex;
  flex-direction: column;
  height: 70vh;
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid var(--card-border-color);
  border-radius: 8px;
  overflow: hidden;
}

.messageHistory {
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.messageContainer {
  display: flex;
  margin-bottom: 0.5rem;
}

.alignRight {
  justify-content: flex-end;
}

.message {
  padding: 0.5rem 1rem;
  border-radius: 18px;
  max-width: 80%;
  word-wrap: break-word;
}

.myMessage {
  background-color: var(--primary-color);
  color: var(--button-text-color);
}

.otherMessage {
  background-color: var(--other-message-gradient-start);
}

.otherMessage strong {
  margin-right: 0.5rem;
}

.messageForm {
  display: flex;
  padding: 1rem;
  border-top: 1px solid var(--card-border-color);
}

.messageInput {
  flex-grow: 1;
  padding: 0.5rem;
  border: 1px solid var(--card-border-color);
  border-radius: 20px;
  margin-right: 1rem;
}

.sendButton {
  padding: 0.5rem 1.5rem;
  border: none;
  background-color: var(--primary-color);
  color: var(--button-text-color);
  border-radius: 20px;
  cursor: pointer;
}

.sendButton:disabled {
  background-color: var(--button-disabled-background);
}

.loadingMore {
    display: flex;
    justify-content: center;
    padding: 1rem;
}