.tabsContainer {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid var(--card-border-color);
  margin-bottom: 1.5rem;
  gap: 1rem;
  flex-wrap: wrap; /* Allow tabs to wrap to the next line */
}

.tabButton {
  border: none;
  background-color: transparent;
  color: var(--text-color);
  padding: 0.5rem 0;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-bottom: 2px solid transparent;
  flex-shrink: 0; /* Prevent tabs from shrinking */
}

.tabButton.active {
  color: var(--primary-color);
  border-bottom-color: var(--primary-color);
}

.tabButton:not(.active):hover {
  border-bottom-color: var(--primary-color);
}
